NODE_ENV=development
PORT=3001
API_PREFIX=api
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=shopping_fretes
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSL=false
GCS_BUCKET_NAME=web-fretes-dev-bucket
