NODE_ENV=production
PORT=8080
API_PREFIX=api
DATABASE_HOST=/cloudsql/PROJECT_ID:REGION:INSTANCE
DATABASE_PORT=5432
DATABASE_NAME=shopping_fretes
DATABASE_USER=postgres
DATABASE_PASSWORD=change-me
DATABASE_SSL=false
GCS_BUCKET_NAME=web-fretes-bucket
